.page-loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all .4s .2s ease-in-out;
	transition: all .4s .2s ease-in-out;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	z-index: 9999;
}

.body{
	background-color: #C70039 !important;
}

.dark-mode .page-loading {
	background-color: #0b0f19;
}

.page-loading.active {
	opacity: 1;
	visibility: visible;
}

.page-loading-inner {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	opacity: 0;
}

.page-loading.active>.page-loading-inner {
	opacity: 1;
}

.page-loading-inner>span {
	display: block;
	font-size: 1rem;
	font-weight: normal;
	color: #9397ad;
}

.dark-mode .page-loading-inner>span {
	color: #fff;
	opacity: .6;
}

.page-spinner {
	display: inline-block;
	width: 2.75rem;
	height: 2.75rem;
	margin-bottom: .75rem;
	vertical-align: text-bottom;
	border: .15em solid #b4b7c9;
	border-right-color: transparent;
	border-radius: 50%;
	-webkit-animation: spinner .75s linear infinite;
	animation: spinner .75s linear infinite;
}

.dark-mode .page-spinner {
	border-color: rgba(255, 255, 255, .4);
	border-right-color: transparent;
}

@-webkit-keyframes spinner {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spinner {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#movie-item:hover h3 {
	color: #F8BE52 !important;
	transition: ease-out 0.3s;
}




.card-portfolio:hover a {
	color: #F8BE52 !important;
	transition: ease-out 0.3s;
}

.nav-tabs .nav-item:hover>.nav-link:not(.disabled),
.navbar .nav-item:hover>.nav-link:not(.disabled),
.navbar-nav .show>.nav-link,
.navbar-nav .nav-link.active {
	color: #F8BE52 !important;
	transition: ease-out 0.3s;
}

.list-group-item-action.active {
	background-color: #F8BE52 !important;
	box-shadow: none;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
	background-color: #e1a200 !important;
}

.header{
	background-color: #141414 !important;
}

form-check-input:checked {
	background-color: #e1a200 !important;
	
}

.accordion-button:not(.collapsed)::after{
	background-color: #e1a200 !important;
}

.accordion-button::after {
	background-color: #e1a20038 !important;
}

.bg-ticket{
	background: rgb(78,51,0) !important;
	background: linear-gradient(90deg, rgba(78,51,0,1) 0%, rgba(255,184,52,1) 100%) !important;
}

.bg-ticket-history{
	background: rgb(78,51,0) !important;
	background: linear-gradient(90deg, rgba(78,51,0,1) 0%, rgb(128, 128, 128) 100%) !important;
}